/* Reset */
* { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; /* Prevent padding fron adding to element's width (http://www.paulirish.com/2012/box-sizing-border-box-ftw/) */ -moz-box-sizing: border-box; box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Clearfix http://css-tricks.com/snippets/css/clear-fix/ */
section dl, article dl { content: ""; display: table; clear: both; }

/* Hide text in an accessible way http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/ */
/* Hide element from all devices */
button, .submit { width: auto; border-radius: 6.112px !important; border-radius: 0.382rem !important; border: 2px solid #909090; padding: 6.112px 9.888px; padding: 0.382rem 0.618rem; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; text-align: center; -webkit-appearance: none; -moz-appearance: none; }

/* Viewport metadata for supported browsers */
@viewport { width: extend-to-zoom; zoom: 1.0; }
@-ms-viewport { width: extend-to-zoom; zoom: 1.0; }
html { font: normal 16px/1.618 Georgia, Times, "Times New Roman", serif; font-size: 1rem; font-weight: 300; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }

body { font-size: 16px; font-size: 1rem; margin: 0 auto; margin: 0 auto; color: #000; background-color: #fff; }

p { margin-bottom: 25.888px; margin-bottom: 1.618rem; }

/* Lists */
ul, ol, dl { margin: 0 0 25.888px 67.776px; margin: 0 0 1.618rem 4.236rem; }

li { margin-bottom: 9.888px; margin-bottom: 0.618rem; }

dt, dd { float: left; }

dt { clear: left; }

dd { margin-left: 25.888px; margin-left: 1.618rem; }

.quote { font: normal 16px/1.618 "Baskerville"; font-size: 1rem; margin: 0 0 9.888px 41.888px; margin: 0 0 0.618rem 2.618rem; padding-left: 16px; padding-left: 1rem; }
.quote p { margin-bottom: 6.112px; margin-bottom: 0.382rem; }

/* Links */
a:link { text-decoration: none; border-bottom: 1px solid #ccc; }

a:visited { color: #ccc; }

a:active { color: #ccc; }

@media screen and (min-device-width: 1025px) { a:hover { border-bottom: 1px solid #000; }
  a[href^=tel] { pointer-events: none; border-bottom: none; } }
/* Text styling */
code { font-family: "Menlo", "Vera Sans Mono", "Monaco", "Courier New", "Courier", monospace; }

strong { font-weight: bold; }

em { font-style: italic; }

/* Buttons */
/* Headings */
section h1 { font: normal 67.776px/1.2 "Baskerville"; font-size: 4.236rem; margin-bottom: 41.888px; margin-bottom: 2.618rem; }

h2 { font: normal 41.888px/1.618 "Baskerville"; font-size: 2.618rem; margin-bottom: 25.888px; margin-bottom: 1.618rem; }

h3 { font: normal 25.888px/1.2 "Baskerville"; font-size: 1.618rem; margin-bottom: 9.888px; margin-bottom: 0.618rem; }

h4 { margin-right: 16px; margin-right: 1rem; float: left; font-weight: bold; }

/* Page layout */
body > section > div, body > article > div, nav > ul, footer > section, footer > address { margin: auto; max-width: 670.188544px; padding: 41.888px; padding: 2.618rem; outline: 1px solid green; }

nav { position: -webkit-sticky; position: sticky; top: 0; z-index: 1000; max-width: none; background-color: #ccc; }
nav ul, nav dl { list-style: none; padding: 9.888px 25.888px; padding: 0.618rem 1.618rem; text-align: center; }
nav li, nav dt, nav dd { float: none; display: inline-block; margin-right: 41.888px; margin-right: 2.618rem; line-height: 1; }
nav li:last-of-type { margin-right: 0; margin-right: 0; }
nav a:link, nav a:visited { border: none; }

#ben-manley { max-width: 100%; padding: 0; margin: 0; }
#ben-manley p { width: auto; width: auto; float: right; margin-bottom: 0; margin-bottom: 0; padding: 6.112px 16px; padding: 0.382rem 1rem; font: normal 12.8px/1.618 "Baskerville"; font-size: 0.8rem; text-align: right; }

form { max-width: 414.176520192px; margin: auto; outline: 1px solid red; }

@media screen and (max-device-width: 480px), screen and (max-width: 480px) { form { max-width: 360px; } }
textarea, input { border: 2px solid #ccc; display: block; width: 100%; width: 100%; }

label { display: block; margin: 16px 0 0 0; margin: 1rem 0 0 0; font: normal 16px/1 "Baskerville"; font-size: 1rem; text-align: left; }

input { margin: 0 0 16px 0; margin: 0 0 1rem 0; padding-left: 9.888px; padding-left: 0.618rem; }

#fullname { margin-right: 41.888px; margin-right: 2.618rem; }

#message-box { margin: 0 0 16px 0; margin: 0 0 1rem 0; padding-left: 9.888px; padding-left: 0.618rem; overflow-y: auto; }

/* Spam filter (honeypot technique) */
#mail-filter { display: none; speak: none; }

/* Image gallery */
.image-gallery { list-style: none; width: 586.412544px; height: 439.809408px; margin: auto; text-align: left; position: relative; }
.image-gallery h3 { font: normal 16px/1 "Baskerville"; font-size: 1rem; margin: 9.888px 0; margin: 0.618rem 0; }
.image-gallery li { float: left; position: relative; width: 30%; height: 30%; padding: 0; margin: 0 0 3.75% 0; overflow: visible; z-index: 1; }
.image-gallery a:link, .image-gallery a:visited, .image-gallery a:hover, .image-gallery a:active { display: block; width: 100%; height: 100%; z-index: 2; overflow: visible; -webkit-tap-highlight-color: transparent; outline: 1px solid transparent; border: 0; }
.image-gallery .active, .image-gallery .deactivate { z-index: 2; }
.image-gallery .active img { -webkit-transform: scale3d(3.333333, 3.333333, 1); transform: scale3d(3.333333, 3.333333, 1); }
.image-gallery li:before { display: none; }
.image-gallery li:nth-of-type(3n+2) { margin-left: 5%; margin-right: 5%; }
.image-gallery li:nth-of-type(2) img { -webkit-transform-origin: 50% 0; -ms-transform-origin: 50% 0; transform-origin: 50% 0; }
.image-gallery li:nth-of-type(3) img { -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; }
.image-gallery li:nth-of-type(4) img { -webkit-transform-origin: 0 50%; -ms-transform-origin: 0 50%; transform-origin: 0 50%; }
.image-gallery li:nth-of-type(5) img { -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.image-gallery li:nth-of-type(6) img { -webkit-transform-origin: 100% 50%; -ms-transform-origin: 100% 50%; transform-origin: 100% 50%; }
.image-gallery li:nth-of-type(7) img { -webkit-transform-origin: 0% 100%; -ms-transform-origin: 0% 100%; transform-origin: 0% 100%; }
.image-gallery li:nth-of-type(8) img { -webkit-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; transform-origin: 50% 100%; }
.image-gallery li:nth-of-type(9) img { -webkit-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; transform-origin: 100% 100%; }
.image-gallery div { width: 100%; min-height: 61.8%; position: absolute; top: 0; left: 0; padding: 0 7.036950528px; color: #000; background-color: #ccc; background-color: rgba(204, 204, 204, 0.8); z-index: 3; }
.image-gallery .active div { height: auto; }
.image-gallery img { width: 100%; height: 100%; -webkit-transition: all 0.75s linear 0s; transition: all 0.75s linear 0s; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; }

.image-gallery-controls { display: none; }

@media screen and (max-device-width: 640px), screen and (max-width: 640px) { .image-gallery { width: 100%; height: auto; margin: 25.888px 0 105% 0; margin: 1.618rem 0 105% 0; padding: 0; text-align: left; }
  .image-gallery li { position: absolute; top: 0; left: 0; width: 100%; height: auto; margin: 0; opacity: 0; }
  .image-gallery li:nth-of-type(3n+2) { margin: 0; }
  .image-gallery div { min-height: auto; position: static; padding: 7.036950528px 7.036950528px 3.518475264px; }
  .image-gallery img { width: 100%; height: auto; }
  .image-gallery .active img { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  .image-gallery-controls { display: block; list-style: none; margin: 0 0 25.888px 0; margin: 0 0 1.618rem 0; padding-top: 9.888px; padding-top: 0.618rem; outline: 1px solid red; }
  .image-gallery-controls li { display: inline-block; outline: 1px solid green; margin-left: 16px; margin-left: 1rem; padding: 6.112px 16px; padding: 0.382rem 1rem; }
  .activate { -webkit-animation: fade-in 1s 0s 1 linear forwards; animation: fade-in 1s 0s 1 linear forwards; z-index: 9999; }
  .deactivate { -webkit-animation: fade-out 1s 0s 1 linear, forwards; animation: fade-out 1s 0s 1 linear, forwards; z-index: 1; }
  @-webkit-keyframes fade-in { 0% { opacity: 0; }
    100% { opacity: 1; } }
  @keyframes fade-in { 0% { opacity: 0; }
    100% { opacity: 1; } }
  @-webkit-keyframes fade-out { 0% { opacity: 1; }
    100% { opacity: 0; } }
  @keyframes fade-out { 0% { opacity: 1; }
    100% { opacity: 0; } } }
.no-csstransitions .active { position: absolute; top: 0; left: 0; }
.no-csstransitions .active img { width: 333.333%; height: 333.333%; border: 5px solid #a6a6a6; }
.no-csstransitions li:nth-of-type(3n+2).active { margin-left: 0; margin-right: 0; }

@media print { body { width: 100%; }
  .image-gallery { height: auto; }
  .image-gallery div { position: static; }
  .image-gallery img { height: auto; }
  .image-gallery li { margin: 0 0 100px 0; } }
